body {
    padding: 0px;
    margin: 0px;
    background-color: #eeeeee;
}

.mainDiv {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.mainDiv table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.rightDiv {
    background-color: #5F5F6F;
    width: 300px;
    height: 100%;
    position: fixed;
    box-shadow: 0 0 5px rgba(0, 0, 0, 3);
}

.rightDiv table {
    width: 100%;
    height: auto;
}

.centerDiv {
    width: 95%;
    height: 100%;
    padding-bottom: 15px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.centerDivWrap {
    width: 100%;

    text-align: center;
    padding-top: 15px
}

.NameHead {
    font-family: 'Raleway', sans-serif;

    text-align: center;
    font-size: 20px;
    
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #ffffff;

    height: 1px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 10px;
}

.ClassHead {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: bisque;
    opacity: 0.4;
    padding: 5px;
    padding-top: 5px;
}
